    header {
        background-color: #141f40;
        height: 100px;
        width: 400px;
    }
    footer {
        background-color: #d98d30;
        height: 100px;
        width: 400px;
    }
    .left {
        width: 150px;
        height: 250px;
        background-color: #80bfa8;
    }
    .middle_top {
        width: 150px;
        background-color: #dbd400;
        height: 50px;
    }
    .middle {
        width: 150px;
        height: 100px;
        background-color: #0093b7;
    }
    .bottom {
        width: 250px;
        height: 100px;
        background-color: #8c2727;
    }
    .right {
        width: 100px;
        height: 150px;
        background-color: #ff9e6b;
    }
    .content {
        display: flex;
    }
    .right_part {
        display: flex;
        flex-direction: column;
    }
    .right_top {
        display: flex;
    }
@media screen and (max-width: 767px) {
    header, footer{
        width: 300px;
    }
    .left {
        width: 100px;
    }
    .middle_top, .middle {
        width: 125px;
    }
    .bottom {
        width: 200px;
    }
    .right {
        width: 75px;
    }
    .content {
        display: flex;
    }
    .right_part {
        display: flex;
        flex-direction: column;
    }
    .right_top {
        display: flex;
    }
    
}
@media screen and (max-width: 479px) {
    .content {
        display: block;
    }
    header, footer{
        width: 150px;
    }
    .left, .middle_top, .middle, .bottom, .right {
        width: 150px;
    }
    .left, .right {
        height: 100px;
    }
    .right_top {
        display: flex;
        flex-direction: column-reverse;
    }
}